<?xml version="1.0" encoding="ISO-8859-1"?>
<settings>
    <localRepository>/home/{{ os_user }}/.m2</localRepository>

    <mirrors>
        <mirror>
            <id>abraxas-tools-nexus</id>
            <url>https://nexus.abraxas-tools.ch/repository/maven/</url>
            <mirrorOf>*</mirrorOf>
        </mirror>
        <mirror>
            <id>confluent</id>
            <url>https://packages.confluent.io/maven/</url>
            <mirrorOf>confluent</mirrorOf>
        </mirror>
    </mirrors>

    <servers>
        <server>
            <id>abraxas-tools-nexus</id>
            <username>internal-abraxas-service-user</username>
            <password>{{ abraxas_mvn_user_pw }}</password>
        </server>
    </servers>
</settings>
